@import url(normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&family=Rubik+Maze&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

/*Header*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100px;
  background-color: black;
}
.nav {
  display: flex;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
}
/*Header Logo*/
.header_logo {
  width: 100px;
  height: 100%;
  margin-left: 5%;
}
.logoprincipal {
  width: 100%;
  height: 100%;
}
/*Caja que engloba header_busqueda y categoria*/
.bus_cat {
  width: 35%;
  height: 100px;
}
/*Header Busqueda*/
.header_busqueda {
  width: 100%;
  height: 50px;
  display: flex;
  margin-top: 10px;
}
.boton-correcion {
  padding-top: 10px;
}
#btn-categoria {
  display: none;
}

.category {
  width: 100%;
  height: 40px;
  display: flex;
  padding-top: 7px;
  padding-left: 3%;
  font-size: 17px;
  color: #ffc107;
}
label.bar-inf {
}

.category:hover {
  text-decoration: underline;
  text-decoration-color: #ffc107;
}
/*List Categoria*/
ul.list-categoria {
  margin: 0;
  padding: 0;
  position: fixed;
  top: -300px;
  left: 200px;
  flex-direction: column;
  z-index: -10;
  width: 50%;
  background-color: black;
  transition: top 1s;
  list-style: none;
}
.list-categoria li {
  border-bottom: 1px solid #ffc107;
  width: 100%;
}
.list-categoria li a {
  text-decoration: none;
  display: block;
  padding: 15px 20px;
  color: #ffc107;
  text-align: left;
}
#btn-categoria:checked ~ .list-categoria {
  top: 100px;
}
.list-categoria li a:hover {
  background-color: #ffc107;
  color: black;
}
p.p-inf {
  display: inline-block;
  background-color: green;
}
span.log-com {
  display: inline-block;
  background-color: red;
}
/*Header Opciones*/
ul.navbar {
  display: flex;
  margin: 0;
  padding: 0;
  font-size: 20px;
  list-style: none;
}
.navbar li {
  border-right: 1px solid #ffc107;
}
.navbar li a {
  display: block;
  padding: 35px 20px;
  color: #ffc107;
  text-decoration: none;
}
.navbar li a:hover {
  background-color: #ffc107;
  color: black;
}
/*Header Cuenta*/
.header_cuenta {
  display: flex;
}
/*Header Menu*/
label.bar-sup {
  padding: 35px 20px;
  color: #ffc107;
}
label.icon-menu {
  display: none;
}
label.bar-sup:hover {
  cursor: pointer;
  background-color: #ffc107;
  color: black;
}
#btn-menu {
  display: none;
}

/*Responsive*/
@media (min-width: 768px) and (max-width: 1366px) {
  label.icon-menu {
    display: block;
  }

  /*Lista Categoria*/
  ul.navbar {
    position: fixed;
    top: 100px;
    left: 100%;
    flex-direction: column;
    z-index: 10;
    width: 50%;
    background-color: black;
    transition: left 1s;
  }
  .navbar li {
    border-right: 0px;
    border-bottom: 1px solid #ffc107;
    width: 100%;
  }
  .navbar li a {
    text-align: center;
  }
  #btn-menu:checked ~ .navbar {
    left: 50%;
  }
}
@media (max-width: 768px) {
  label.icon-menu {
    display: block;
  }
  .header_busqueda {
    position: fixed;
    top: 100px;
    left: 100%;
    z-index: 10;
    width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    transition: all 1s;
    background-color: black;
    border-bottom: 1px solid #ffc107;
  }
  .header_cuenta {
    position: fixed;
    top: 200px;
    left: 100%;
    z-index: 10;
    width: 100%;
    background-color: black;
    border-bottom: 1px solid #ffc107;
    transition: all 1s;
    justify-content: center;
  }
  ul.navbar {
    position: fixed;
    top: 300px;
    left: 100%;
    z-index: 10;
    width: 100%;
    flex-direction: column;
    background-color: black;
    transition: all 1s;
  }
  .navbar li {
    width: 100%;
    border-right: 0px;
    border-bottom: 1px solid #ffc107;
  }
  .navbar li a {
    text-align: center;
  }
  #btn-menu:checked ~ .header_busqueda,
  #btn-menu:checked ~ .navbar,
  #btn-menu:checked ~ .header_cuenta {
    left: 0;
  }
}

/*SLIDER*/
.slider {
  position: relative;
  display: block;
  width: 100%;
  height: 95vh;
  margin-top: 100px;
  margin-bottom: 50px;
  overflow: hidden;
}
/*IMAGENES*/
.imgslider {
  width: 100%;
  height: 100%;
}
.slider ul {
  display: flex;
  width: 500%;
  padding: 0;
  animation: cambio 20s infinite;
  animation-timing-function: ease-out;
}
.slider li {
  list-style: none;
  width: 100%;
}

@keyframes cambio {
  0% {
    margin-left: 0;
  }
  16% {
    margin-left: 0;
  }

  21% {
    margin-left: -100%;
  }
  37% {
    margin-left: -100%;
  }

  42% {
    margin-left: -200%;
  }
  58% {
    margin-left: -200%;
  }

  63% {
    margin-left: -300%;
  }
  79% {
    margin-left: -300%;
  }

  84% {
    margin-left: -400%;
  }
  100% {
    margin-left: -400%;
  }
}

/*TEXTO-SLIDER*/
.titulo {
  position: absolute;
  top: 0px;
  padding-right: 5%;
  padding-left: 5%;
  font-family: "Rubik Maze", sans-serif;
  color: black;
  font-size: 10em;
  -webkit-text-stroke: 3px rgba(0, 0, 0);
}

/*DESCUENTOS*/
h2.subtitulo {
  display: inline-block;
  margin-bottom: 50px;
  margin-left: 10%;
  margin-right: 10%;
  padding: 20px 25px;
  border-radius: 120px;
  background-color: black;
  text-align: center;

  font-family: "Monserrat", sans-serif;
  color: #ffc107;
}
.barra-descuentos {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin-bottom: 50px;
  justify-content: space-evenly;
  text-align: center;
  background-color: #ffc107;
}
.descuento {
  width: 300px;
  height: 500px;
  border-radius: 15px;
  background-color: black;
  margin-bottom: 20px;
  margin-left: 10px;
}
.img-descuento {
  width: 300px;
  height: 300px;
  background-color: #ffc107;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  position: relative;
  overflow: hidden;
}
.cuadro-img-descuento {
  width: 300px;
  height: 300px;
}
.texto-descuento {
  padding: 15px 15px;
}
.texto-descuento p {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  background-color: red;
}
p.dsc {
  position: absolute;
  width: 200px;
  height: 30px;
  top: 225px;
  right: -50px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  background-color: red;
  text-align: center;
  transform: rotate(-50deg);
}
@media (min-width: 1250px) and (max-width: 1630px) {
  .barra-descuentos {
    grid-template-columns: auto auto auto;
  }
}
@media (min-width: 800px) and (max-width: 1250px) {
  .subtitulo {
    margin-right: auto;
    margin-left: auto;
    display: inline-block;
    padding: 20px 25px;
    border-radius: 60px;
    background-color: black;
  }
  .barra-descuentos {
    grid-template-columns: auto auto;
  }
}
@media (max-width: 800px) {
  .barra-descuentos {
    grid-template-columns: auto;
    justify-content: center;
  }
}
